/* dropdown */

.dropdwn {
    position: relative;
    display: inline-block;
}

.dropdwn-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdwn-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdwn-content a:hover {background-color: #ddd;}

.dropdwn:hover .dropdwn-content {display: block;}

.dropdwn:hover .dropbtn {background-color: #3e8e41;}

