@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    /*background: url(http://uttarakhandtraveller.com/media/places/None/Kausani.jpg);*/
    background: url(http://www.uttarakhandtraveller.com/media/uploaded/Ghangaria_RGUTvsaewh8cTOT.jpg) no-repeat 80% 80%;
    display: table; /* Eliminate extra top space*/
    top: 0;  /* Eliminate extra top space */
    background-size: cover; /* Background full width*/
}

 /* Getting inner part in the middle of the screen*/
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: 0 auto; /*center the content */
    text-align: center;
    padding-bottom: 20%;
}

.content h1 {
    font-family: 'Yantramanav', 'sans-serif';
    font-size: 350%;
    font-weight: 100;  /* making h1 slim */
    color: #800000;
    /*line-height: 10px; /* making button closer to the heading*/
    line-height: 0%;
}
.content h2 {
    font-family: 'Yantramanav', 'sans-serif';
    font-size: 200%;
    font-weight: 100;  /* making h1 slim */
    color: #800000;
    line-height: 70%; /* making button closer to the heading*/
}

.btn {
    font-family: 'Montserrat','sans-serif';
    font-size: 135%;
    font-weight: 400%;
    color: #3A6168;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #3A6168;
    padding: 10px 20px;
    border-radius: 9px;
    transition: .5s;
}

.btn:hover {
    color: #CBDFD6;
    border: solid #CBDFD6 2px;
}

p {
    font-size: 120%;
    line-height: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
    font-family:'Times New Roman', Times, serif;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
    .content {
        padding-bottom: 30%;
    }
    .content h1{
        font-size: 300%;
    }
    .content h2{
        font-size: 200%;
    }
    .btn {
        font-size:110%;
        padding: 9px 17px;
    }
}
@media screen and (max-width: 768px) {
    .content {
        padding-bottom: 40%;
    }
    .content h1{
        font-size: 300%;
    }
    .content h2{
        font-size: 200%;
    }
    .btn {
        font-size:90%;
        padding: 7px 15px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 90%;
        line-height: 80%;
    }
}
@media screen and (max-width: 480px) {
    .content {
        padding-bottom: 50%;
    }
    .content h1{
        font-size: 250%;
    }
    .content h2{
        font-size: 150%;
    }
    .btn {
        font-size:90%;
        padding: 6px 14px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 80%;
        line-height: 100%;
    }
}