<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Write an Article | Uttarakhand Traveller</title>
    
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <link rel="stylesheet" type="text/css" href="/css/multiple_images.css">
            <style>
            .modal { width: 30% !important ; height: 30% !important ; }
            .fill-blue {background-color:#0288d1;}
            </style>
</head>
<body>
<div class="container">
  <form action="/blog/submit" method="post" enctype="multipart/form-data">
    <div class="row center-align">
      <h4><i>Write an article</i></h4>
    </div>
    
    <div class="row">
      <input type="text" name="title" id="fancy-text" required="true" />
      <label for="fancy-text">Title</label>
    </div>

    <div class="row">
          <span><i class="medium material-icons">add_a_photo</i></span>
          <input type="file" id="files" name="files" placeholder="Upload Images" multiple>    
     </div>
     <div class="row">   
      <h6>Select Type of Article</h6>
      {{ range $_, $value := .types }}
      <p>
        <label>
          <input class="with-gap" id="type" name="{{ $value.Type }}" type="checkbox"/>
          <span>{{ $value.Type }}</span>
        </label>
      </p>
      {{ end }}
    </div>
    <div class="row">
      <textarea  name="description" id="fancy-textarea" required="true"></textarea>
      <label for="fancy-textarea">Type Here</label>
    </div>
    
     <div class="row">
      <button type="submit" tabindex="0">Submit</button>
      <a href="{{ .project_url }}" class="waves-effect waves-light btn-small fill-blue"><i class="small material-icons">backspace</i>&nbsp;&nbsp;Go back</a>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function() {
   
   if(window.File && window.FileList && window.FileReader) {
   $("#files").on("change",function(e) {
   var files = e.target.files ,
   filesLength = files.length ;
   for (var i = 0; i < filesLength ; i++) {
   var f = files[i]
   var fileReader = new FileReader();
   fileReader.onload = (function(e) {
   var file = e.target;
   $("<img></img>",{
   class : "imageThumb",
   src : e.target.result,
   title : file.name
   }).insertAfter("#files");
   });
   fileReader.readAsDataURL(f);
   }
  });
   } else { alert("Your browser doesn't support to File API") }
  });

  </script>
</body>
</html>