<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Your Blog | Uttarakhand Traveller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/dropdown.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <style>
  .fill-black {color:black;}
  /* Hover */
  .card:hover {
    background-color:#F0F8FF;
  }
  #beautiful_text {
      color: #f35626;
      background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 6s infinite linear;
  }

  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

 </style>
</head>
  <body>


    <!-- Navbar start -->
    <nav style="background:#0288d1;">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-med-and-down" style="margin-left:30px;">Uttarakhand Traveller</a>
            <a href="#" class="brand-logo hide-on-large-only">Dashboard</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ .project_url }}">Add New</a></li>
            <li>
              <div class="dropdwn">
                <a href="#">Notifications {{if .notif_count }}<span class="new badge">{{ .notif_count }}</span>{{ end }}</a>
                <div class="dropdwn-content">
                  {{ range $count, $value := .notifications }}
                    <p style="line-height:20px;"><span id="beautiful_text">Congratulations!!</span> {{ $value }}</p>
                    <hr/>
                  {{ end }}

                  <!--div class="right-align">
                    <a class="waves-effect btn-small waves-light btn">view all</a>
                </div-->

                </div>
              </div>

            </li>
            <li><a href="{{.my_profile_url}}{{.bid}}" >Edit Profile</a></li>
            <li><a href="{{ .logout_url }}">Logout</a></li>
          </ul>
        </div>
      </nav>
     <!-- Navbar end -->

      <!-- Mobile Side Bar start -->
      <ul class="sidenav" id="mobile-demo">
          <li><h5 class="center-align" style="margin-right:80px;">{{ .username }}</h5></li>
          <li><div class="row center-align">
              <center><div class="col s8">
                <!--img src="http://www.uttarakhandtraveller.com/media/uploaded/28954507_829696043887281_4791304388286406350_o.jpg" alt="" class="rounded responsive-img"--> <!-- notice the "circle" class -->
                <img src="{{ .image }}" alt="" class="rounded responsive-img">
              </div></center></div>
          </li>

          <li>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                      <a href="{{ .project_url }}" class="fill-black"><i class="small material-icons">add_circle</i>
                      Add New</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                      <i class="small material-icons">notifications</i>
                      Notifications
                      {{if .notif_count }}<span class="new badge">{{ .notif_count }}</span>{{ end }}
                    </div>
                    {{ if .notifications}}
                    <div class="collapsible-body">
                      <div class="row">
                        <ul>
                            <li><div class="col s12 m8 l6">
                                  <div class="row">
                                    <div class="col s12">
                                      {{ range $count, $value := .notifications }}
                                      <div class="card" style="border-style: outset;">
                                        <p style="line-height:20px; margin-left:10px;"><span id="beautiful_text">Congratulations!!</span>{{ $value }}</p>
                                      </div>
                                      {{ end }}
                                      <!--div class="card" style="border-style: outset;">
                                          <p style="line-height:20px; margin-left:10px;"><span id="beautiful_text">Congratulations!!</span> 500 views reached on Bagnath Temple.</p>
                                      </div>
                                      <div class="card" style="border-style: outset;">
                                          <p style="line-height:20px; margin-left:10px;"><span id="beautiful_text">Congratulations!!</span> 500 views reached on Bagnath Temple.</p>
                                       </div>
                                       <div class="right-align">
                                          <a class="waves-effect btn-small waves-light btn">view all</a>
                                      </div-->
                                    </div>
                                </div>
                              </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                    {{ end }}
                    </li>
                    <li>
                        <div class="collapsible-header">
                        <a href="{{.my_profile_url}}{{.bid}}"  class="fill-black"><i class="small material-icons">edit</i>
                          Edit Profile</a>
                        </div>
                    </li>
                  <li>
                  <div class="collapsible-header">
                    <a href="{{ .logout_url }}"  class="fill-black"><i class="small material-icons">not_interested</i>
                    Logout</a>
                  </div>
              </li>
            </ul>
          </li>
        </ul>
   <!--   Mobile Slide Bar end -->

    <!-- Blogging Table start -->
  <div class="container table-responsive" style="margin-top: 30px;">
    {{if .has_posts}}
    <table class="striped responsive-table">
        <thead>
          <tr>
              <th><i class="small material-icons">format_list_numbered</i></th>
              <th>Title</th>
              <th>Date</th>
              <th>Status</th>
              <th>Link</th>
              <th>Edit</th>
              <th><i class="small material-icons">pageview</i></th>
          </tr>
        </thead>
        <tbody>
          {{ range $count, $value := .posts }}
          <tr>
              <td>{{$count}}</td>
              <td>{{ $value.Title }}</td>
              <td>{{ $value.CrDate }}</td>
              <td>{{if $value.Status}} Published {{else}} Pending {{end}}</td>
              <td><a href="http://www.uttarakhandtraveller.com/posts/{{ $value.Slug }}"><i class="small material-icons">link</i></a></td>
              <td><a href="http://go.uttarakhandtraveller.com/blog/edit_article/{{ $value.Id }}"><i class="small material-icons">edit</i></a></td>
              <td>{{  $value.View }}</td>
              <!--{{if eq $value.Status 0 }}<td><i class="small material-icons">message</i></td>{{end}}-->
            </tr>
            {{ end }}
        </tbody>
      </table>
      {{else}}
      <h5 class="center-align">No Articles Yet, Write one by clicking add new button</h5>
      {{end}}
  </div>
   <!-- BLogging table end -->

         <!--Footer start-->
      <footer class="page-footer" style="background:#0288d1;">
          <div class="container">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Uttarakhand Traveller
            </div>
          </div>
          </div>
        </footer>
        <!-- Footer end-->

   <script>
      $(document).ready(function(){
     $('.sidenav').sidenav();
   });

     $(document).ready(function(){
     $('.collapsible').collapsible();
   });
   </script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  </body>
</html>
