<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Your Blog | Uttarakhand Traveller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="container table-responsive">
    <h4 style="color:#0fad00">Welcome, {{ .username }}</h4>
    <div class="row">
        <div class="col s12 m6 l6">
        <h5 style="color:#0fad00">Your Dashboard</h5>
        </div>
        <div class="col s12 m6 l6 right-align">
            <a href="{{.my_profile_url}}{{.bid}}"><h6><i class="small material-icons">mode_edit</i>Edit My Profile</h6></a>
        </div>
    </div>
    
    <div class="row">
      <div class="col s12 m12 l12 right-align">
        <a href="{{ .project_url }}" class="waves-effect waves-light btn-small" style="background-color:#0288d1;"><i class="small material-icons">add_circle</i>&nbsp;&nbsp;Add New</a>
        <a href="{{ .logout_url }}" class="waves-effect waves-light btn-small" style="background-color:#0288d1;"><i class="small material-icons">not_interested</i>&nbsp;&nbsp;Logout</a>
      </div>
    </div>
    {{if .has_posts}}
    <table class="striped responsive-table">
        <thead>
          <tr>
              <th><i class="small material-icons">format_list_numbered</i></th>
              <th>Title</th>
              <th>Date</th>
              <th>Status</th>
              <th>Link</th> 
              <th>Edit</th>
              <th><i class="small material-icons">pageview</i></th>
          </tr>
        </thead>
        <tbody>
          {{ range $count, $value := .posts }}
          <tr>
              <td>{{$count}}</td>
              <td>{{ $value.Title }}</td>
              <td>{{ $value.CrDate }}</td>
              <td>{{if $value.Status}} Published {{else}} Pending {{end}}</td>
              <td><a href="http://www.uttarakhandtraveller.com/posts/{{ $value.Slug }}"><i class="small material-icons">link</i></a></td>
              <td><a href="http://go.uttarakhandtraveller.com/blog/edit_article/{{ $value.Id }}"><i class="small material-icons">edit</i></a></td>
              <td>{{  $value.View }}</td>
              <!--{{if eq $value.Status 0 }}<td><i class="small material-icons">message</i></td>{{end}}-->
            </tr>
            {{ end }}
        </tbody>
      </table>
      {{else}}
      <h5 class="center-align">No Articles Yet, Write one by clicking add new button</h5>
      {{end}}
  </div>
  </body>
</html>


