<html>
    <head>
    <title>Edit Article | Uttarakhand Traveller</title>
    <!--link rel="stylesheet" href="/css/materialize.min.css"-->

    <!-- Compiled and minified JavaScript 
      
      background-image: url("repeat.jpg");
      background-repeat: repeat-xy; -->
    
  <!--script src="/js/materialize.min.js"></script-->
       <!-- Compiled and minified CSS -->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
      <style>
          .fill-blue {background-color:#0288d1;}
      </style>

    </head>
    <body>
      <div class="container">
          <center class="card-panel">
            <h5><i class="small material-icons">edit</i>{{ .title }} | Uttarakhand Traveller</h5>
            <form action="/blog/submit?id={{ .post_id }}"  method="post" enctype="multipart/form-data">
                  <div class="row">
                    {{if .ImageUrl }}
                    <div class="col s12 m6 offset-l3">
                        <img class="responsive-img" src="{{.ImageUrl}}">
                    </div>
                    {{else}}  
                    <div class="col s12 m6 offset-l3">
                    {{ range $_, $value := .images }}
                    <div class="col s6 m4 l4">
                        <img class="responsive-img" src="{{ $value.Url }}">
                    </div>
                    {{ end }}
                    </div>
                    {{end}}
                </div>
                  <div class="row">
                    <div class="col s12 m6 offset-l3">
                            <div class="file-field input-field">
                                    <div class="btn fill-blue">
                                      <span><i class="medium material-icons">add_a_photo</i></span>
                                      <input type="file" name="files" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                      <input class="file-path validate" type="text" placeholder="Upload More Images">
                                    </div>
                            </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12 m6 l3 ">
                          <i class="small material-icons">title</i>
                      </div>
                      <div class="col s12 m6 l6">

                          <input id="input_text" type="text" name="title" data-length="300" style="background-color:whitesmoke;" value="{{ .title }}">
                          <label for="input_text">Title</label>
                      </div>  
                  </div>
                  <div class="row">
                      <div class="col s12 m6 l3">
                          <i class="small material-icons">edit_mode</i>
                      </div>
                      <div class="col s12 m6 l12">
                          <textarea id="textarea2" name="description" class="materialize-textarea flow-text" style="background-color:whitesmoke;">{{ .description }}</textarea>
                          <label for="textarea2">Article</label>
                      </div>  
                  </div>
                  <div class="row">
                      <div class="col s12 m12 l12 right-align">
                          <button class="waves-effect waves-light fill-blue" type="submit" tabindex="0" style="color:white;"><i class="small material-icons">save</i>&nbsp;&nbsp;Save Changes</button>
                          <a href="{{ .project_url }}"class="waves-effect waves-light btn-small fill-blue"><i class="small material-icons">backspace</i>&nbsp;&nbsp;Go back</a> 
                      </div>
                  </div>
              </form>
          </center>
      </div>
    </body>
</html>

