<html>
    <head>
    <title>{{.user.Fname}} {{.user.Lname}}| Uttarakhand Traveller</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
       <link href="/css/my_profile.css" rel="stylesheet">

      <style>
          .fill-blue {background-color:#0288d1;}
      </style>

    </head>
    <body>
    <div class="container">
      <div class="row">
        <form class="col s12" action="/blog/profile_submit/{{.blogger.Id}}"  method="post" enctype="multipart/form-data">
            <div class="row">
                <h1>{{.user.Fname}} {{.user.Lname}}</h1>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' name="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url({{if .blogger.Image}}{{.blogger.Image }}{{else}}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png{{end}});">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="For example, a tourist, philosopher" id="first_name" name="short_bio" type="text" value="{{.blogger.ShortBio}}" >
                        <label for="first_name">Short Bio</label>
                        <span class="helper-text" data-error="wrong" data-success="right">A bio to show in the author section of your each article.</span>

                    </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" name="description" class="materialize-textarea"> {{.blogger.Description}} </textarea>
                    <label for="textarea1">Description</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Tell us about yourself.</span>

                </div>
            </div>
            <div class="row">
                    <div class="col s12 m12 l12 right-align">
                        <button class="waves-effect waves-light fill-blue" type="submit" tabindex="0" style="color:white;"><i class="small material-icons">save</i>&nbsp;&nbsp;Save Changes</button>
                        <a href="{{ .project_url }}"class="waves-effect waves-light btn-small fill-blue"><i class="small material-icons">backspace</i>&nbsp;&nbsp;Go back</a> 
                    </div>
            </div>
        </form>    
       </div> 
    </div>







    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
      <script >function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function() {
            readURL(this);
        });
        //# sourceURL=pen.js
        </script>
    </body>
</html>

