<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
    }
    
    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }
    

    .input-field input[type=radio]:focus,
    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }

  </style>
</head>

<body>
 
  <div class="section"></div>
  <main>
    
    <center>
      <img class="responsive-img" style="width: 250px;" src="/img/uktrav.gif" />
      <div class="section"></div>
      <h5 class="indigo-text">Please, create your blog account us</h5>
      <div class="section"></div>
      {{if .message}}
      <h6 style="color: tomato;">{{ .message }}</h6>
      {{end}}
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" action="/register_attempt" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
                <div class='input-field col s12 l6'>
                    <input class='validate' type='text' name='firstname' id='firstname' {{if .fname}} value="{{ .fname }}" {{end}} required=true />
                    <label for='email'>First Name</label>
                </div>
                <div class='input-field col s12 l6'>
                    <input class='validate' type='text' name='lastname' id='lastname' {{if .lname}} value="{{ .lname }}" {{end}} required=true />
                    <label for='email'>Last Name</label>
                </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' {{if .email}} value="{{ .email }}" {{end}} required=true />
                <label for='email'>Enter your email</label>
              </div>
            </div>
            
        

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' required=true/>
                <label for='password'>Enter your password</label>
              </div>
              <div class='input-field col s12'>
                    <input class='validate' type='password' name='passwordagain' id='password' required=true/>
                    <label for='password'>Enter your password again</label>
                </div>
            </div>
            <center>
              
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Sign Up</button>
              </div>
            </center>
          </form>
        </div>
      </div>

    </center>

    <div class="section"></div>
    <div class="section"></div>
    
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>

</html>





