<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uploaded images|Uttarakhand Traveller</title>
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Compiled and minified JavaScript -->
  <script src="/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </head>
  <body>
    <div class="row">
      {{ range $_, $value := . }}
      <div class="col s6 m4 l2">
        <div class="card">
          <div class="card-image">
            <img src="{{ $value.Url }}" class="img-responsive">
          </div>
          <div class="card-content">
            <p>Location: {{ $value.Location }} </br>
               Username: {{ $value.Username }}
            </p>
          </div>
          <div class="card-action">
            <a href="{{ $value.Url }}">View Image</a>
          </div>
        </div>
      </div>
      {{ end }}
      

    </div>
         
  </body>
</html>
