<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sucess</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
	<div class="row text-center">
        <div class="col-sm-12">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="/img/thumbsup.png">
        <h3>{{ .message }} Successful</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your email and confirming your {{ .message }}
          with Uttarakhand Traveller.</p>
        </div>

	</div>
</div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
