
<!DOCTYPE html>

<html lang='en'>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Submitted| Uttarakhand Traveller</title>
    <style> 
    body{
        background: #873dcc;
        margin-top: 100px;
        }
    .text-box{
        font-size: 100px;
        font-weight:700;
        text-align: center;
        }
    .text{
        display: inline-block;
        color: #ffdbf9;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
        <body>
                <div class="text-box">
                        <span>
                            <span class="text">We</span>
                        </span>
                        <span>
                            <span class="text">got</span>
                        </span>
                        <span>
                            <span class="text">your</span>
                        </span>
                        <span>
                            <span class="text">article.</span>
                        </span>
                </div>
            <hr/>
            <div class="text-box">
                <span>
                    <span class="text">Thank</span>
                </span>
                <span>
                    <span class="text">You!!</span>
                </span>
            </div>
            <div class="row oktab">
                    <div class="col s12 m12 l12 center-align">
                        <a href="{{ .project_url }}"class="waves-effect waves-light btn-small fill-blue"><i class="small material-icons right">backspace</i>&nbsp;&nbsp;OK</a> 
                    </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
        </body>
        </html>
        <script >
          var tl = new TimelineMax({ repeat: -1, yoyo: true, repeatDelay: 0.5 });
        tl.staggerFrom(".text", 0.5, {
                opacity: 0,
                y: 200,
                rotation: 360,
                delay: 0.5,
                scale: 2,
                ease: Bounce.easeIn },
        0.2);
        //# sourceURL=pen.js
        $(".oktab").hide();
        setTimeout(function () {
            $(".oktab").show()
        }, 2000);
        </script>
        </body></html>