<html>
    <head>
    <title>Upload images|Uttarakhand Traveller</title>
    <!--link rel="stylesheet" href="/css/materialize.min.css"-->

    <!-- Compiled and minified JavaScript -->
    <!--script src="/js/materialize.min.js"></script-->
       <!-- Compiled and minified CSS -->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
   
    </head>
    <body>
      <div class="container">
          <center>
          <img class="responsive-img" style="width: 250px;" src="/img/uktrav.gif" />
          </center>
        <h4>Upload Images of Place and send to Uttarakhand Traveller</h4>
        <br/>
        <h5>We will upload these photos on our facebook page, instagram and website and give the uploader credit</h5>
        <br/><br/><br/>
        <form action="/uploaded" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="row col s12 m12">
              <div class="file-field input-field">
                  <div class="btn">
                    <span>Select Files</span>
                    <input type="file" name="files" required="true" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                  </div>
              </div>
            </div>
            <div class="row col s12 m12">
              <div class="input-field col s6">
                  <input id="input_text" name="location" placeholder="Location in the photo/photos" type="text" required="true" value="{{ .location }}">
                  <label for="input_text">Location</label>
              </div>
            </div>
            <div class="row col s12 m12">
                <div class="input-field col s6">
                    <input id="input_text" name="username" placeholder="Your name or instagram handle" type="text">
                    <label for="input_text">Username</label>
                </div>
              </div>
            <div class="row col s12 m12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
        </form>
      </div>
    </body>
</html>

