<html>
    <head>
    <title>Write an Article | Uttarakhand Traveller</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
       <link rel='stylesheet' href='//cdn.quilljs.com/1.3.6/quill.snow.css'>
      <style>
          .fill-blue {background-color:#0288d1;}
          #editor-container {
                 height: 375px;
                }
      </style>

    </head>
    <body>
      <div class="container">
           <br/><br/>
            <div class="row">
                    <div class="row center-align">
                            <h4><i>Write an article</i></h4>
                          </div>
                    <div class="col s12 m12 l12">
                        <input id="title" placeholder="Title goes here"type="text" name="title" data-length="300" style="background-color:whitesmoke;" required="true">
                    </div>
            </div>
            <div class="row">
                <div id="editor-container">

                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 right-align">
                    <a onclick="getContent()"  class="waves-effect waves-light btn-small fill-blue"  tabindex="0" style="color:white;"><i class="small material-icons right">send</i>&nbsp;&nbsp;Submit</a>
                    <a href="{{ .project_url }}"class="waves-effect waves-light btn-small fill-blue"><i class="small material-icons right">backspace</i>&nbsp;&nbsp;Go back</a>
                </div>
            </div>
              </form>
          </center>
          <div class="hide">
                <input id="s_key" placeholder="Hidden" type="text" name="key" value="{{ .authtoken }}" data-length="300">
          </div>
      </div>
      <script src='//cdn.quilljs.com/1.3.6/quill.js'></script>
      <script >
        var quill = new Quill('#editor-container', {
        modules: {
          toolbar: [
            [{ header: [1, 2, false] }],
            ['bold', 'italic', 'underline'],
            ['image', 'code-block']
          ]
        },
        placeholder: 'We love what you write, your pen is a magician.',
        theme: 'snow'  // or 'bubble'
      });

      function getContent() {
          //var text = quill.getText();
          var delta = quill.getContents();
          content = delta['ops'];
          var text="";
          var img = [];
          for(line in content){
          if (content.hasOwnProperty(line)) {
              if(content[line]['insert'].hasOwnProperty('image')){
                  //console.log(content[line]['insert']['image']);
                    text +="$image$"
                    img.push(content[line]['insert']['image']);
                }else{
                    //console.log(content[line]['insert']);
                    text += content[line]['insert'];
                }
              }else{
                  break;
                  }
              }

              var authtoken = document.getElementById("s_key").value
              var title =  document.getElementById("title").value
              if (title == "") {
                  alert("Fields are be empty.");
                  return false;
              }
        var settings = {
         "async": true,
         "crossDomain": true,
         // "url": "http://localhost:1234/api/v1/article_submit",
         "url": "http://go.uttarakhandtraveller.com/api/v1/article_submit",
         "method": "POST",
         "headers": {
             "authtoken": authtoken,
             "Content-Type": "application/json",
         },
         "processData": false,
         "data": JSON.stringify({'title': title, 'description': text, 'img': img})
         }

         $.ajax(settings).done(function (response) {
         console.log(response);
          if(response["result"]){
                 window.location.href= '{{ .submitted_url }}'
             }else{
                 alert("Something went wrong, please try again. If it does not work, please contact administrator.")
             }
         });
         //window.location.href= '{{ .submitted_url }}'
     }
      </script>
    </body>
</html>
