<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<title>Page title</title>
	<style>
@import url(http://fonts.googleapis.com/css?family=Roboto:300); /*Calling our web font*/
body {
	width: 100%;
	position: relative;
	margin:0 ; padding:0;
}
img {
	margin: 0;
	padding: 0
}
div {
	margin: 0;
	padding: 0;
}
a {
	margin: 0;
	padding: 0;
}
table{margin:2% auto;}

/* Some resets and issue fixes */
#outlook a {
	padding: 0;
}
.ReadMsgBody {
	width: 100%;
}
.ExternalClass {
	width: 100%;
}
.backgroundTable {
	margin: 0 auto;
	padding: 0;
	width: 100%;
!important;
}
table {
	background-color: #FFFFFF;
	color: #1c2a35;
}
table td {
	border-collapse: collapse;
}
.ExternalClass * {
	line-height: 115%;
}
/*.brdr {
	border: 1px solid #666666;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}*/
        /* End reset */

        /* These are our tablet/medium screen media queries */
        @media screen and (max-width: 630px) {
/* Display block allows us to stack elements */                      
*[class="mobile-column"] {
	display: block;
}
/* Some more stacking elements */
*[class="mob-column"] {
	float: none !important;
	width: 100% !important;
}
/* Hide stuff */
*[class="hide"] {
	display: none !important;
}
/* This sets elements to 100% width and fixes the height issues too, a god send */
*[class="100p"] {
	width: 100% !important;
	height: auto !important;
}
/* For the 2x2 stack */         
*[class="condensed"] {
	padding-bottom: 40px !important;
	display: block;
}
/* Centers content on mobile */
*[class="center"] {
	text-align: center !important;
	width: 100% !important;
	height: auto !important;
}
/* 100percent width section with 20px padding */
*[class="100pad"] {
	width: 100% !important;
	padding: 20px;
}
/* 100percent width section with 20px padding left & right */
*[class="100padleftright"] {
	width: 100% !important;
	padding: 0 20px 0 20px;
}
/* 100percent width section with 20px padding top & bottom */
*[class="100padtopbottom"] {
	width: 100% !important;
	padding: 20px 0px 20px 0px;
}
}
</style>
	<script>
	
	function govalid(url){
		approve_url = url;
		
		var xmlhttp = new XMLHttpRequest();

		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
			   if (xmlhttp.status == 200) {
				   //alert('Thank you');
			   }
			   else if (xmlhttp.status == 400) {
				  alert('There was an error 400');
			   }
			   else {
				   alert('something else other than 200 was returned');
			   }
			}
		};

		xmlhttp.open("POST", approve_url, true);
		xmlhttp.send();
	}
	</script>
	</head>


<body>


<div style="width: 580px; margin: 3% auto 0; border: 1px solid #ccc; padding: 15px;">
<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="3" align="center" style="border-bottom: 1px solid #ccc; margin-bottom: 20px;">
				<a href="#"><img src="https://s3-ap-southeast-1.amazonaws.com/smartworks-staging/logo.jpg" width="180" height="54" alt="" style="margin-bottom: 20px; margin-top: 10px;"/></a>
			</td>
		</tr>
		
		<tr>
			<td align="left" colspan="3">
				<font face="Arial, sans-serif" style="font-size: 18px;">&nbsp;<br>Hi&nbsp;<strong>{{ .user_name }}</strong>,</font><br>&nbsp;
				<font face="Arial, sans-serif" style="font-size: 18px; line-height: 24px;">&nbsp;<br><strong>{{ .visitor_fname }}</strong>&nbsp;is here to see you at&nbsp; {{ .location }} .</font><br>&nbsp;
			</td>
		</tr>
		<tr>
			<td width="12%" align="left" valign="top"><img src="{{ .visitor_image }}" width="180px" height="180px" style="border: 1px solid #ccc; ma"></td>
			<td width="10%">&nbsp;</td>
			<td width="78%"  valign="top">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;" width="30%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; color: #8c8c8c; font-weight: normal; line-height: 24px;">Full Name </font></td>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;"  width="70%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; line-height: 24px;">{{ .visitor_fname }}</font></td>
					</tr>
					{{ if .visitor_company }}
					<tr>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;" width="30%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; color: #8c8c8c; font-weight: normal; line-height: 16px;">&nbsp;<br>Company</font></td>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;"  width="70%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; line-height: 16px;">&nbsp;<br>{{ .visitor_company }}</font></td>

					</tr>
					{{ end }}

					<tr>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;" width="30%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; color: #8c8c8c; font-weight: normal; line-height: 16px;">&nbsp;<br>Phone No.</font></td>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;"  width="70%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; line-height: 16px;">&nbsp;<br>{{ .visitor_phone }}</font></td>
					</tr>
					{{ if .visitor_email }}
					<tr>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 5px;" width="30%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; color: #8c8c8c; font-weight: normal; line-height: 16px;">&nbsp;<br>Email</font></td>
						<td style="border-bottom: 1px solid #ccc; padding-bottom: 8px;"  width="70%" align="left" valign="top"><font face="Arial, sans-serif" style="font-size: 16px; line-height: 16px;">&nbsp;<br><a href="#" style="color: #000;">{{ .visitor_email }}</a></font></td>
					</tr>
					{{ end }}
				</table>
				
			</td>
		</tr>
		<tr>
			<td headers="10px;">&nbsp;</td>
		</tr>
</table>












</div>	


</body>
</html>
