<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Access Pass</title>
<style>
	body{width: 100%; position: relative;}	
	img{margin: 0; padding: 0}
	div{margin: 0; padding: 0;}
	a{margin: 0; padding: 0;}
	table{margin: 0; padding: 0;}
</style>

</head>

<body>

<div style="margin: 0 auto; width: 580px;">
<table width="100%" cellpadding="0" cellspacing="0" align="center">
	
	<tr>
		<td style="padding:10px 50px;">
			<table width="100%" cellpadding="0" cellspacing="0" align="center" style="border-top: 2px solid #000; padding: 15px 0; border-bottom: 2px solid #000;">
				<tr>
					<td width="20%"><img src="{{ .visitor_image }}" style="width: 220px; height: 220px; background-size: contain;" alt=""/></td>
					<td width="5%">
					
					</td>
					<td width="75%">
						<font face="Arial, Helvetica, Gotham, sans-serif" style="font-size: 14px; font-weight: bold;color:#000000">{{ .visitor_name }}</font><br>
						{{ if .company }}<font face="Arial, Helvetica, Gotham, sans-serif" style="font-size: 14px; font-weight: ;color:#000000">{{ .visitor_company }}</font><br><br>{{ end }}
						<font face="Arial, Helvetica, Gotham, sans-serif" style="font-size: 14px; font-weight: bold;color:#000000"><b>Visit To:</b></font><br>
						<font face="Arial, Helvetica, Gotham, sans-serif" style="font-size: 14px; font-weight: bold;color:#000000">{{ .user_name }}</font><br>
						
						<font face="Arial, Helvetica, Gotham, sans-serif" style="font-size: 14px; font-style: italic; font-weight: ;color:#000000">{{ .in_time }}</font><br>

						
						<table width="100%" cellpadding="0" cellspacing="0" align="center" style=" margin: 10px 0 0 0;">
							<tr>
							
							<td><img src="https://s3-ap-southeast-1.amazonaws.com/smartworks-staging/logo.jpg" width="100" height="32" alt=""/></td>
								<td>
									<img src="{{ .qr_image }}" width="100" height="" alt=""/><br><br>
								<span style="background: #000; width: 20px; padding: 4px; font-size: 12px; line-height: 20px; text-transform: uppercase; color: #fff; Arial, Helvetica, Gotham, sans-serif">Visitor</span></td>
								
							</tr>
						</table>
					</td>
				</tr>
				
			</table>
		</td>
		
	</tr>	
</table>
</div>
</body>
</html>
